@mixin absolute-custom($top, $right, $bottom, $left) {
	position: absolute;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

@mixin border($side, $size, $color) {
	border-#{$side}: $size solid $color;
}

@mixin translate($x, $y) {
	transform: translateX($x) translateY($y);
}