$color-white: #fff;
$color-gray: #333;
$color-a: #4ec9b0;
$color-b: #9cdcfe;
$color-c: #ce9178;
$color-d: #b0cea8;

.code {
  background-color: $color-gray;
  padding: 5px 10px;
  border-radius: 5px;
  color: $color-white;
  display: inline-block;

  .code__tag-name {
    color: $color-a;
  }
  .code__props {
    color: $color-b;
  }
  .code__value-string {
    color: $color-c;
  }
  .code__value-int {
    color: $color-d;
  }
}