.flex {
  display: flex;

  &.flex--inline {
    flex-direction: row;
  }

  &.flex--center {
    justify-content: center;
    align-items: center;
  }
}

.separate {
  margin: 0 50px;
}

body {
  background-color: #fff;
}
