.flex {
  display: flex; }
  .flex.flex--inline {
    flex-direction: row; }
  .flex.flex--center {
    justify-content: center;
    align-items: center; }

.separate {
  margin: 0 50px; }

.height-50vh {
  height: 50vh; }

.has-contrast {
  background-color: #333; }

body {
  background-color: #fff; }

.thermometer {
  margin: 0 50px; }
